In [1]:
import pandas as pd

In [3]:
real_data = pd.read_csv("test_datasets/real_data_adult.csv", index_col=0)
print(f"Test dataset has {real_data.shape[0]} instances with {real_data.shape[1]} features")

Test dataset has 200 instances with 9 features

In [2]:
synthetic_data = pd.read_csv("test_datasets/syn_data_adult.csv", index_col=0)
print(f"Synthetic dataset has {synthetic_data.shape[0]} instances with {synthetic_data.shape[1]} features")

Synthetic dataset has 100 instances with 9 features

In [4]:
real_data.head()

,Age,Workclass,Education,Occupation,Relationship,Race,Sex,Hours-per-week,Over-50K
0,39,State-gov,Bachelors,Adm-clerical,Not-in-family,White,Male,40,<=50K
1,50,Self-emp-not-inc,Bachelors,Exec-managerial,Husband,White,Male,13,<=50K
2,38,Private,HS-grad,Handlers-cleaners,Not-in-family,White,Male,40,<=50K
3,53,Private,11th,Handlers-cleaners,Husband,Black,Male,40,<=50K
4,28,Private,Bachelors,Prof-specialty,Wife,Black,Female,40,<=50K

In [6]:
violations = real_data[(real_data['Relationship'] == 'Husband') & (real_data['Sex'] != 'Male')]

print('Number of violations in the real data:', len(violations))

Number of violations in the real data: 0

In [7]:
violations = synthetic_data[(synthetic_data['Relationship'] == 'Husband') & (synthetic_data['Sex'] != 'Male')]

print('Number of violations in the real data:', len(violations))

Number of violations in the real data: 4